<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Key/Secret taken from https://developer.bodymedia.com/forum/read/155486 GET YOUR OWN!!! -->
    <add key="consumer_key" value="qq4cnnr8au64287xk845ybz7qd8pmbyu"/>
    <add key="consumer_secret" value="VPqwTsqN8Gswtse3YXjeTHnA7RtYpzbvU62CEA7Q6AQ3dkzmBpb9VNuGdKXuT46X"/>
  </appSettings>
</configuration>